<script>
	var permissionStr = "<%=data%>"
</script>

<style>
	input {
		padding-left:4px;
	}
</style>


<div data-options="region:'center'">	
	<table  class="easyui-datagrid"  id="fileTable" title="文件基本信息列表" style="width:930px;height:528px" data-options="
				rownumbers:true, 
				singleSelect:true,
				autoRowHeight:false,
				pagination:true,
				collapsible:false,
				toolbar:'#toolbar',
				remoteSort:false,
				multiSort:true,
				loadMsg:'正在加载数据，请稍等...',
				striped:true,
				fit:true,
				fitColumns:true">
		<thead>  	
			<tr>
				<th data-options="field:'contentType',width:120,sortable:true">文件类别</th>
				<th data-options="field:'name',width:150,sortable:true">文件名称</th>
				<th data-options="field:'version',width:100,sortable:true">版本号</th>
				<th data-options="field:'description',width:180,sortable:true">简介</th>
				<th data-options="field:'status',width:70,sortable:true">是否可用</th>
				<th data-options="field:'createdTime',width:130,sortable:true">创建时间</th>
				<th data-options="field:'createdBy',width:100,sortable:true">创建人</th>
				<th data-options="field:'updatedTime',width:130,sortable:true">修改时间</th>
				<th data-options="field:'updatedBy',width:100,sortable:true">修改人</th>
			</tr>
		</thead>
	</table>
	
	<div id="toolbar" style="padding:5px;height:auto">
		<div style="margin-bottom:5px">
			<a href="javascript:void(0)" id="createFile" class="easyui-linkbutton" iconCls="icon-add" plain="true" title="添加">添加</a>
			<a href="javascript:void(0)" id="updateFile" class="easyui-linkbutton" iconCls="icon-edit" plain="true" title="编辑">编辑</a>
			<a href="javascript:void(0)" id="deleteFile" class="easyui-linkbutton" iconCls="icon-cut" plain="true" title="删除">删除</a>
			<a href="javascript:void(0)" id="downLoadFile" class="easyui-linkbutton" iconCls="icon-tip" plain="true" title="下载">下载</a>
		</div>

		<div>		
			文件类别:
				<select style="width:180px;height:28px;border:#95B8E7 1px solid" id="fileTypeSea">	
				</select>
			文件名称: 
				<input placeholder="输入文件名称" class="textbox" style="width:180px;height:28px;" id="fileNameSea">					
			<a href="javascript:void(0)" id="searchFile" class="easyui-linkbutton" iconCls="icon-search">搜 索&nbsp;&nbsp;</a>
		</div>
	</div>
</div>	

<!--  弹出层   新增层-->
<div id="fileCreateDiv" style="display:none">
	<form action="/content/create" method="post" enctype="multipart/form-data" id="createFileForm">
	<input type="hidden" name="createdBy" id="createdBy">
	<table border='0' width="290px" style="padding: 5 10">	
		<tr height="35px">
			<td width="40px;">名称:</td>
			<td>
				<input class="textbox" maxLength="15" name="fileName" id="fileNameInput" style="width:200px;height:30px;">					
			</td>
			<td><span style="color:red;font-weight:bold;">*</span></td>
		</tr>
		<tr height="31px">
			<td>类型:</td>
			<td>
				<select id="fileCategoryInput" style="width:200px;height:30px;border:1px solid #95B8E7" name="contentType"></select>
			</td>
			<td><span style="color:red;font-weight:bold;">*</span></td>
		</tr>
		<tr height="35px">
			<td>文件:</td>
			<td>
				<input id="addFile" type="file" name="file" style="display:none">
                <div class="input-append">
					<input id="fileCover" class="textbox" style="width:143px;height:30px;">
					<input type="button" onclick="$('input[id=addFile]').click();" style="width:53px;height:30px;" value="浏览">					
				</div>
				<script type="text/javascript">
                    $('input[id=addFile]').change(function() {
						$('#fileCover').val($(this).val());
						return false;
					});
                </script> 			
			</td>
			<td><span style="color:red;font-weight:bold;">*</span></td>
		</tr>
		<tr height="35px">
			<td>版本:</td>
			<td style="width:220px;" colspan="2"><input maxLength="15" class="textbox" id="versionInput" style="width:200px;height:30px;" name="version"></td>
		</tr>
		<tr height="35px">
			<td>可用:</td>
			<td>
				<select style="width:200px;height:30px;border:1px solid #95B8E7" name="isActive" id="isActiveInput">					
					<option value="1">可用</option>
					<option value="0">不可用</option>
				</select>				
			</td>
			<td><span style="color:red;font-weight:bold;">*</span></td>
		</tr>
		<tr height="35px">
			<td valign="top" style="padding-top:10px;">简介:</td>
			<td>
				<textarea maxLength="50" style="width:200px;height:60px;border:1px solid #95B8E7" name="description" id="descriptionInput"></textarea>					
			</td>
			<td><span style="color:red;font-weight:bold;">*</span></td>
		</tr>
		<tr height="40px">
			<td colspan="2" align="center">
				<a href="javascript" onclick="return submitAddFile()" class="easyui-linkbutton" data-options="iconCls:'icon-save'">&nbsp;保 存&nbsp;</a>
				&nbsp;&nbsp;&nbsp;
				<a href="javascript" onclick="Dialog.close()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">&nbsp;取 消&nbsp;</a>				
			</td>
		</tr>
	</table>
</div>

<!-- 修改层-->
<div id="fileUpdateDiv" style="display:none">
	<input type="hidden" id="fileIdU">
	<table border='0' width="290px" style="padding:10px;">	
		<tr height="35px">
			<td width="40px;">名称:</td>
			<td style="width:220px;">
				<input maxLength="15" class="textbox" id="fileNameInputU" style="width:200px;height:30px;">				
			</td>
			<td><span style="color:red;font-weight:bold;">*</span></td>
		</tr>
		<tr height="31px">
			<td>类型:</td>
			<td>
				<select id="fileCategoryInputU" style="width:200px;height:30px;border:1px solid #95B8E7" ></select>
			</td>
			<td><span style="color:red;font-weight:bold;">*</span></td>
		</tr>
		
		<tr height="35px">
			<td width="65px;">版本:</td>
			<td style="width:220px;"><input maxLength="15" class="textbox" id="versionInputU" style="width:200px;height:30px;"></td>
		</tr>
		<tr height="35px">
			<td>可用:</td>
			<td>
				<select style="width:200px;height:30px;border:1px solid #95B8E7" id="isActiveInputU">					
					<option value="1">可用</option>
					<option value="0">不可用</option>
				</select>
			</td>
			<td><span style="color:red;font-weight:bold;">*</span></td>
		</tr>
		<tr height="35px">
			<td width="65px;" valign="top" style="padding-top:10px;">简介:</td>
			<td style="width:220px;"><textarea  maxLength="50" class="textbox" style="width:200px;height:60px;" id="descriptionInputU"></textarea></td>
			<td><span style="color:red;font-weight:bold;">*</span></td>
		</tr>
		<tr height="40px">
			<td colspan="2" align="center">
				<a href="javascript" onclick="return submitUpdateFile()" class="easyui-linkbutton" data-options="iconCls:'icon-save'">&nbsp;保 存&nbsp;</a>
				&nbsp;&nbsp;&nbsp;
				<a href="javascript" onclick="Dialog.close()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">&nbsp;取 消&nbsp;</a>				
			</td>
			
		</tr>
	</table>
</div>

<script type="text/javascript" src="/js/filemanagement.js"></script>
