<link href="/styles/bootstrap.css" rel="stylesheet">
<link href="/styles/main.css" rel="stylesheet">
<style>
	#container{
		width:100%;
		height:92%;
	}

	span{
		color:blue;
		cursor:pointer;
	}

</style>

<input type="text" value="" style="height:30px;margin-top:10px;" placeholder="输入标注名称…"  class="input-large" id="poiValue">  
<input type="button" id="btnSelect" class="btn" value="&nbsp;搜&nbsp;索&nbsp;">

<div id="container"></div>


<script type="text/javascript" src="http://api.map.baidu.com/api?v1.5&ak=64d353844a3d8a12c4b2a44b54bd62b0"></script>
<script type="text/javascript" src="/js/jquery.1.4.4.js"></script>
<script type="text/javascript" src="/js/key_Unit_Android.js"></script>

