<script>
	var permissionStr="<%=data%>";
</script>
<style>
	input {
		padding-left:4px;
	}
</style>
<div data-options="region:'center'">
	<table id="dg">
	</table>
</div>
<script src="/js/sysLog.js" type="text/javascript"></script>